fastapi==0.115.5
uvicorn==0.32.0
pydantic==2.9.2
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
lightgbm==4.5.0
prophet==1.1.5
pulp==2.8.0
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
requests==2.32.3
nbformat==5.10.4
nbclient==0.10.0
ipykernel==6.29.5
